body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
  color: #333;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.5;
  background: url('https://github.com/denisoy/CV/blob/main/background.jpg?raw=true') center/cover no-repeat;
}

header, footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
  width: 80%;
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.header-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.profile {
  width: 30%;
  position: relative;
}

.profile img {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
  border: 4px solid #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.profile img:hover {
  filter: brightness(80%);
}

.about-me {
  width: 75%;
  margin-left: 5%;
  position: relative;
  word-wrap: break-word;
}

section {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  position: relative;
  z-index: 1;
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;
}

.about-me section {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 10px;
}

h1 {
  margin: 0;
}

p {
  margin: 10px 0;
}

.info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.annotation,
.experience,
.education,
.workplaces,
.projects,
.skills {
  width: 100%;
  box-sizing: border-box;
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
  width: 80%;
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer a {
  color: #fff;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

.social-icons img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  cursor: pointer;
}
